.pokedex {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  /* width: 100%; */
  width: 800px;
  list-style: none;
  padding: 0;
  margin: 10px 0px;
  justify-items: center;
}
