:root {
  --color-backcard: rgba(167, 164, 177);
  --card-width: 250px;
}

.page {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}

@media (prefers-color-scheme: light) {
  .page header {
    background-color: white;
  }
}

@media (prefers-color-scheme: dark) {
  .page header {
    background-color: #202b38;
  }
}

.page header {
  top: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 800px;
  position: fixed;
  z-index: 10;
}

.page main {
  display: flex;
  justify-content: center;
  justify-items: center;
  margin-top: 130px;
  width: 100%;
  max-width: 800px;
}

.pokedex_form {
  display: flex;
  justify-content: center;
}
