:root {
  --color-backcard: rgba(167, 164, 177, 0.679);
  --card-width: 250px;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 16px;
}

main {
  display: flex;
  justify-content: center;
  justify-items: center;
  width: 100%;
}

.pokedex_form {
  display: flex;
  justify-content: center;
}
